{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div>
		<h2>Fou de series !✅</h2>

		<ul>

			<img src="{{ asset('images/logo.png') }}" alt="Symfony!"/>
			<br>
			<label>Bondour je regarde ma serie !</label>
    </div>


	{% endblock %}
